.wd-image-container {
  position: relative;
  display: inline-block;
}

.wd-image-container img {
  width: 100%;
  height: auto;
}

.wd-image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 32px;
}